@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
    background-color: #141414;
}

main{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 384px;
    max-width: 456px;
    padding: var(--spacing-500, 40px);
    background-color: #1F1F1F;
    border-radius: 12px;
}

img{
    border-radius: 50%;
    margin:0 auto;
    width:88px;
    height:88px;
}


h1{
    margin-top:24px;
    color: var(--color-white, #FFF);
    text-align: center;
/* text-preset-1 */
    font-family: Inter;
    font-size: var(--font-size-text-preset-1, 24px);
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

h2{
    color: var(--color-green, #C4F82A);
text-align: center;
/* text-preset-2-bold */
font-family: Inter;
font-size: var(--font-size-text-preset-2, 14px);
font-style: normal;
font-weight: 700;
line-height: 150%; /* 21px */
}

.description{
    color: var(--color-white, #FFF);
    text-align: center;
/* text-preset-2 */
    font-family: Inter;
    font-size: var(--font-size-text-preset-2, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin-top: 24px;
}

.wrapper{
    margin-top:24px;
    display:flex;
    flex-direction: column;
    gap:16px;
}


.item{
    padding: var(--spacing-150, 12px);
    text-align: center;
    color: var(--color-white, #FFF);
/* text-preset-2-bold */
    font-family: Inter;
    font-size: var(--font-size-text-preset-2, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    border-radius: 8px;
    background: var(--color-grey-700, #333);
}


.item:hover{
    background: var(--color-green, #C4F82A);
    color: var(--color-grey-700, #333);
}